@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  width: 100%;
  font-family: "Lato", sans-serif;
  @apply text-primary-100;
}

h1,
p {
  @apply tracking-wide;
}

p {
  @apply leading-[1.25rem];
}

h3 {
  @apply font-opensans;
}

span {
  @apply text-secondary-100;
}

.full-bleed {
  box-shadow: 0 0 0 100vmax #e8e8e8;
  clip-path: inset(0 -100vmax);
}

.half-bleed {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
